<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Houses Buying  and Selling </title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/css/simple-sidebar.css" rel="stylesheet">

</head>

<body style="background-size:cover; background-image : url('/Content/images/bg.jpg')">

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading bg-secondary text-light" style="font-weight:600">Housing.com </div>
            <div class="list-group list-group-flush">
                <a href="/" class="list-group-item  list-group-item-action text-white bg-primary">Home</a>
                <a href="/Houses/" class="list-group-item  list-group-item-action text-white bg-primary">Houses</a>
                <a href="/Sellers/" class="list-group-item list-group-item-action text-white  bg-primary">Sellers</a>
                <a href="/Buyers/" class="list-group-item list-group-item-action text-white bg-primary">Buyers</a>
                <a href="/Transactions/" class="list-group-item list-group-item-action text-white  bg-primary">Transactions</a>

            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-dark border-bottom">
                

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <partial name="_LoginPartial.cshtml" />

            </nav>



            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>

        <!-- Bootstrap core JavaScript -->
        <script src="~/Content/vendor/jquery/jquery.min.js"></script>
        <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>
        @RenderSection("Scripts", required: false)

</body>

</html>
