@{
    ViewData["Title"] = "Home Page";
}


<h1 class="mt-4">Easy buying and selling of houses!</h1>
<p>Housing.com is the New zealand's  largest buying and selling platform for Houses. Established in 2001. </p>